- attributes("title") = "Why to have a software factory, if I just want a store?"

ul.icons#motivation-list
  li.col_4.center
    i(class="fa fa-inbox fa-2x")
      span.motivation-item Don't need to know how to send an e-mail#
  li.col_4.center
    i(class="fa fa-money fa-2x")
      span.motivation-item Don't need to know how to invoice your clients#
  li.col_4.center
    i(class="fa fa-bomb fa-2x")
      span.motivation-item Don't need to deal with your programmer like a god#

#header
  h3#header-text.center What about ... JUST TO SELL your stuff?

  #container-form.center
    span.ask Why to have a software factory, if I just want a store?
    span.form
      input#name.input-field(placeholder="gimme your name")
      input#email.input-field(type="email" placeholder="and your e-mail...")
      button(class="medium green form-button")
        i(class="fa fa-play-circle")
          span.text-form-button and know how!
    section#error(class="center notice error notices")
      i(class="fa fa-remove fa-large")
      span Wrong input data
      a(href="#close" class="fa fa-remove close-warning")
    section#success(class="center notice success notices")
      i(class="fa fa-check fa-large")
      span E-mail sent! Thanks!!!
      a(href="#close" class="fa fa-remove close-warning")

script(src="js/app.js")
