- attributes("title") = "Thank you for your opinion"

section(class="center notice success" style="font-family:FontAwesome;color:#000;font-weight:bold;padding:40px")
  i(class="fa fa-check fa-large")
  span Vote computed!
